doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Home
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css')
    script(href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js')
    script(href='https://code.jquery.com/jquery-3.6.1.js' integrity='sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=' crossorigin='anonymous')
    style(type='text/css').
      body  {
        padding: 8px !important;
      }
  body
    div(class='ui two item menu')
      a(class='active item' href='/') Home 
      a(class='item' href='/register') Register Student
    div(class='ui text container segment')
      h3(class='ui dividing header') Students
      div(class='ui one column grid centered')
        div(class='column')
          table(class='ui celled padded small table')
            thead
              tr
                th(class='single line') Evidence Rating 
                th Efficacy
                th Consensus 
                th Name 
                th Grade
            tbody
              for student in students
                tr 
                  td 
                    h2(class='ui center aligned header') #{student.rating}
                  td 
                    div(class='ui star rating' data-rating='5' data-max-rating='5')
                  td(class='right aligned') #{student.averagePercent}%
                    br
                    a(href='#') #{student.length} questions
                  td 
                    h4(class='ui header')
                      div(class='content') #{student.name}
                        div(class='sub header') Student
                  td #{student.average}
  script.
    $(document).ready(function(){
        $('.message .close')
          .on('click', function() {
            $(this)
              .closest('.message')
              .transition('fade')
            ;
          })
        ;

        $('.rating')
          .rating('enable')
        ;
      });